<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

  <script type="text/javascript"></script>
  <title>COex Browser</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

    <!-- Cytoscape and Extensions -->
  <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
  <script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cola/1.1.1/cytoscape-cola.js"></script>

  <!-- DataTables -->
  <link rel='stylesheet' type='text/css'  href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

  <!-- Bootstrap-->
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- COB Dependencies -->
  <script src='http://underscorejs.org/underscore-min.js'></script>
  <script src='http://backbonejs.org/backbone-min.js'></script>

  <!-- Loaf COB -->
  <script>var $SCRIPT_ROOT = (window.location.href).replace(/\/?$/, '/');console.log($SCRIPT_ROOT);</script>
  <script>$.getScript($SCRIPT_ROOT + 'static/js/cob.js');</script>
  <script>$('<link/>', {
      rel: 'shortcut icon',
      href: ($SCRIPT_ROOT + 'static/images/favicon.ico')
    }).appendTo('head');</script>
  <script>$('<link/>', {
      rel: 'stylesheet', type: 'text/css',
      href: ($SCRIPT_ROOT + 'static/css/main.css')
    }).appendTo('head');</script>
  
  <!-- COB Render Trigger -->
  <script type="text/javascript">$(document).ready(function(){
        // Initialize COB
        window.cob = new COB({ 'div': $('#cob') })
    });</script>
</head>

<!-- Actual Body -->
<body>
    <div id='cob'></div>
</body>
</html>
